*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    /* position: relative; */
    height: 10%;
    background-color: rgba(216, 71, 71, 0.895) ;
    position: sticky;
    top: 0px;
    z-index: 10; /* Ensure it's on top */
}

 nav li{
 /*   position: relative;  parent of a is nav*/
    display: inline-block;
    list-style: none;
    font-weight: 700;
    padding: 0 40px;
} 

nav a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.forgot{
    min-height: 60%;
    width: 30%;
    margin: 5% auto;
    padding: 32px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888 ;
}

.forgot p{
    margin: 2% 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.email_container{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
}

.email_container input{
    height: 40px;
    width: 330px;
    margin-top: 10px;
    border-radius: 8px;
    text-transform: lowercase;
}

.reset input{
    margin: 30px auto;
    height: 40px;
    width: 330px;
    border-radius: 8px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

form:invalid section input{
    cursor: not-allowed;
    background-color: gray;
}

form:valid section input{
    cursor: pointer;
    background-color: rgb(54, 54, 221);;
}

.register{
    text-align: center;
    font-size: 18px;
}

.register a{
    text-decoration: none;
}